*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   a{
       text-decoration: none;
   }
   ul,li{
       list-style-type: none;
   }
   body{
       background-color: #090d14;
   }
   .carusel__wrapper{
       height: 800px;
       img{
           height: 900px;
           object-fit: cover;
       }
   }
   .movie__list{
       list-style-type: none;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-wrap: wrap;
   }
   .card{
       background-color:  #0C111B;
       color: white;
       margin-left: 10px;
       color:#9CA3AF;
       border: none;
       margin-left: 30px;
       outline: none;
       color: white;
       margin: 15px 10px;
       height: 400px;
       width: 230px;
       margin-top: 150px;
       display: flex;
       justify-content: space-between;
   }
   
   .form-select{
       color: white;
       background-color:#0c111b ;
       border-color: black;
   }